.avatar {
  border-radius: 50%;
}

.profile {
  width: 290px;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  background-color: white;
}

.description {
  margin-top: 15px;
}
.name {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.tag {
  color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
}
.location {
  color: grey;
  margin-bottom: 10px;
}

.stats {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.stats > li {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.label {
  color: grey;
}
.quantity {
  font-weight: 600;
}
